ul{
    list-style-type:none;
    padding: 4px;
}

.filled-circle {
    font-size: 0.7em;
    padding: 2px 8px;
    margin-right: 4px;
    border-radius: 100%;
}

.card {
    margin-bottom: 4px;
    border-width: 2px; 
}

.card-body {
    padding: 10px;
}