#createBox {
    background: #dddddd;
    border-radius: 5px;
    padding: 10px;
}
#createBox .form-control {
    width: 70%;
}
#createBox #color-picker {
    width: 30%;
}
#colorpicker {
    width: 100px;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.form-inline {
    width: 100%;
    margin-bottom: 5px;    
}